**/saved_models/
**/example_videos/
**/enjoy/
**/venv/
**/.idea/
*.pyo
*.pyc
0_VRDemoSettings.txt
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
/dist/
/*.egg-info
/build/
__pycache__/
